<div class="m-3 row">
  <div class="col-md-6">
    <h4>Customer Default Settings</h4>
    <h4>Terms and Credits</h4>

    <form>
      <div class="col-md-12 row form-group">
        <label
          for="DueOnthenextdays"
          class="font-weight-bold font-weight-bold col-sm-3 col-form-label"
          translate
          >Due On the next days</label
        >

        <div class="col-sm-9">
          <input
            type="text"
            class="form-control"
            [(ngModel)]="CustomerDefault.DueOnthenextdays"
            #DueOnthenextdays="ngModel"
            name="DueOnthenextdays"
            placeholder=" "
            id="DueOnthenextdays"
            [ngClass]="{ 'is-invalid': DueOnthenextdays.invalid }"
            required
          />
        </div>
      </div>

      <div class="form-group row col-md-12">
        <label
          for="DueOnthenextmonth"
          class="font-weight-bold font-weight-bold col-sm-3 col-form-label"
          translate
          >Due On the next month</label
        >
        <div class="col-sm-9">
          <input
            type="text"
            class="form-control"
            [(ngModel)]="CustomerDefault.DueOnthenextmonth"
            #DueOnthenextmonth="ngModel"
            name="DueOnthenextmonth"
            id="DueOnthenextmonth"
            placeholder=" "
            [ngClass]="{ 'is-invalid': DueOnthenextmonth.invalid }"
          />
        </div>
      </div>

      <div class="form-group row col-md-12">
        <label
          for="DiscountIndays"
          class="font-weight-bold font-weight-bold col-sm-3 col-form-label"
          translate
          >Discount In days</label
        >
        <div class="col-sm-9">
          <input
            type="text"
            class="form-control"
            [(ngModel)]="CustomerDefault.DiscountIndays"
            #DiscountIndays="ngModel"
            name="DiscountIndays"
            id="DiscountIndays"
            placeholder=" "
            [ngClass]="{ 'is-invalid': DiscountIndays.invalid }"
          />
        </div>
      </div>

      <div class="form-group row col-md-12">
        <label
          for="DiscountPercent"
          class="font-weight-bold font-weight-bold col-sm-3 col-form-label"
          translate
          >Discount Percent</label
        >
        <div class="col-sm-9">
          <input
            type="DiscountPercent"
            class="form-control"
            [(ngModel)]="CustomerDefault.DiscountPercent"
            #DiscountPercent="ngModel"
            name="DiscountPercent"
            id="DiscountPercent"
            placeholder=" "
            [ngClass]="{ 'is-invalid': DiscountPercent.invalid }"
          />
        </div>
      </div>
      <div class="form-group row col-md-12">
        <label
          for="CreditLimit"
          class="font-weight-bold font-weight-bold col-sm-3 col-form-label"
          translate
        >
          Credit Limit</label
        >
        <div class="col-sm-9">
          <input
            type="text"
            class="form-control"
            [(ngModel)]="CustomerDefault.CreditLimit"
            #CreditLimit="ngModel"
            name="CreditLimit"
            id="CreditLimit"
            placeholder="  "
            [ngClass]="{ 'is-invalid': CreditLimit.invalid }"
          />
        </div>
      </div>

      <div class="form-group row col-md-12">
        <label
          for="GLExpenseAccount"
          class="font-weight-bold font-weight-bold col-sm-3 col-form-label"
          translate
          >GL Expense Account</label
        >
        <div class="col-sm-9">
          <select
            class="form-control"
            [(ngModel)]="CustomerDefault.GLExpenseAccount"
            name="GLExpenseAccount"
            id="GLExpenseAccount"
            #GLExpenseAccount="ngModel"
            [ngClass]="{ 'is-invalid': GLExpenseAccount.invalid }"
            required
          >
            <option disabled>select</option>
            <option
              *ngFor="let Customer of GLExpenseAccounts"
              [value]="GLExpenseAccount.Id"
            >
              {{ GLExpenseAccount.Name }}
            </option>
          </select>
        </div>
      </div>

      <div class="form-group row col-md-12">
        <label
          for="DiscountGLAccount"
          class="font-weight-bold font-weight-bold col-sm-3 col-form-label"
          translate
          >Discount GL Account</label
        >
        <div class="col-sm-9">
          <select
            class="form-control"
            [(ngModel)]="CustomerDefault.DiscountGLAccount"
            name="DiscountGLAccount"
            id="DiscountGLAccount"
            #DiscountGLAccount="ngModel"
            [ngClass]="{ 'is-invalid': DiscountGLAccount.invalid }"
            required
          >
            <option disabled>select</option>
            <option
              *ngFor="let Customer of DiscountGLAccounts"
              [value]="DiscountGLAccount.Id"
            >
              {{ DiscountGLAccount.Name }}
            </option>
          </select>
        </div>
      </div>
      <button type="submit" class="btn btn-primary">Save Settings</button>
    </form>
  </div>

  <div class="col-md-6">
    <h4>Payment Method Type</h4>
    <div class="form-group row col-md-12">
      <button type="button" class="btn btn-primary" translate>Save</button>
      <button type="button" class="btn btn-primary" translate>Edit</button>
      <button type="button" class="btn btn-primary" translate>Delete</button>
    </div>
    <div class="form-group row col-md-12">
      <label
        for="PaymentMethodTypeName"
        class="font-weight-bold font-weight-bold col-sm-3 col-form-label"
        translate
      >
        Payment Method Type Name</label
      >
      <div class="col-sm-9">
        <input
          type="text"
          class="form-control"
          [(ngModel)]="CustomerDefault.PaymentMethodTypeName"
          #PaymentMethodTypeName="ngModel"
          name="PaymentMethodTypeName"
          id="PaymentMethodTypeName"
          placeholder="  "
          [ngClass]="{ 'is-invalid': PaymentMethodTypeName.invalid }"
        />
      </div>
    </div>

    <div class="form-group row col-md-12">
      <div class="col-md-3"></div>
      <div class="col-sm-9">
        <select
          multiple="true"
          class="form-control"
          [(ngModel)]="CustomerDefault.PaymentMethodType"
          name="PaymentMethodType"
          id="PaymentMethodType"
          #PaymentMethodType="ngModel"
          [ngClass]="{ 'is-invalid': PaymentMethodType.invalid }"
          required
        >
          <option disabled>select</option>
          <option
            *ngFor="let Customer of PaymentMethodTypes"
            [value]="PaymentMethodType.Id"
          >
            {{ PaymentMethodType.Name }}
          </option>
        </select>
      </div>
    </div>
  </div>
</div>
