<div class="card">
  <div class="card-body table-responsive">
    <table class="table table-bordered">
      <thead class="thead-light">
        <tr>
          <th scope="col">Vehicle ID</th>
          <th scope="col">Organization ID</th>
          <th scope="col">Plate Number</th>
          <th scope="col">Horse Power</th>
          <th scope="col">CO2</th>
          <th scope="col">Make</th>
          <th scope="col">Model</th>
          <th scope="col">Type</th>
          <th scope="col">Mileage</th>
          <th scope="col">Version</th>
          <th scope="col">Chasis Number</th>
          <th scope="col">Document Detail ID</th>
          <th scope="col">Is Active</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row">1</th>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
      </tbody>
    </table>
    <button type="button" class="btn btn-primary pull-right">ADD</button>
  </div>
</div>

<div class="card">
  <div class="card-body">
    <router-outlet></router-outlet>
  </div>
</div>
