<div class="m-3">
  <div class="p-3 bg-success text-white" >
    <table class="table">
      <thead>
        <tr>
          <th scope="col" translate>Application No:</th>
          <th scope="col" translate>Service Name:</th>
        </tr>
        <tr>
          <th>{{ MyAppNo }}</th>
          <th>{{ Service_Name }}</th>
        </tr>
      </thead>
    </table>
  </div>

  <div class="m-3 row">
    <div class="col-md-12">
      <ng-sidebar-container style="height: 100vh">
        <ng-sidebar
          [(opened)]="_opened"
          [mode]="'push'"
          [closeOnClickOutside]="true"
        >
          <div>
            <div class="form-row mt-5">
              <div class="col-md-12">

                <div *ngIf="RequerdDocs">
                  <div
                    class="form-group row col-md-12"
                    *ngFor="let RequiredDoc of RequerdDocs; let i = index"
                  >
                    <label for="File" class="col-md-4 col-form-label">{{
                      RequiredDoc.description_en
                    }}</label>
                    <div class="col-md-10">
                      <p-fileUpload
                        id="File"
                        name="demo[]"
                        customUpload="true"
                        (uploadHandler)="upload($event, RequiredDoc)"
                        accept="application/pdf,image/*"
                      >
                        <ng-template pTemplate="content">
                          <!-- <ul *ngIf="uploadedFiles.length">
                               <li *ngFor="let file of uploadedFiles">{{file.name}} - {{file.size}} bytes</li>
                             </ul>-->
                        </ng-template>
                      </p-fileUpload>
                    </div>
                  </div>
                </div>

                
              </div>
            </div>
          </div>

          <button class="demo-control" (click)="_toggleOpened()">
            Close Upload
          </button>
          <div></div>
        </ng-sidebar>

        <div ng-sidebar-content>
          <header class="demo-header">
            <button
              (click)="_toggleOpened()"
              type="button"
              class="demo-header__toggle"
            >
              Toggle sidebar
            </button>
            <span>Upload File </span>
          </header>

          <section class="demo-contents">
            <div *ngIf="ID == 1">
              <app-archive
                [(licenceData)]="licenceData"
                [(workingUser)]="workingUser"
                (saveDataCompleted)="saveDataCompleted($event)"
              >
              </app-archive>
            </div>
            <div *ngIf="ID == 2">
              <app-archive-type></app-archive-type>
            </div>

            <div *ngIf="ID == 3">
              <h1>Survey</h1>
              <survey
                [json]="json"
                (completed)="saveForm($event)"
                [formcode]="formcode"
                [formData]="FormData"
              ></survey>
            </div>
            <div *ngIf="ID == 4">
              <h1>Sorry Form not found</h1>
            </div>
          </section>
        </div>
      </ng-sidebar-container>
    </div>
  </div>

  <div
    class="p-3 border-secondary border-5 bg-secondary text-white h-100 text-center m-10 mt-10"
  >
    <button
      type="button"
      class="btn btn-primary mr-2"
      (click)="openModal(template)"
    >
      Review
    </button>

    <span class="dropdown">
      <button
        [disabled]="disablefins"
        type="button"
        class="btn btn-primary dropdown-toggle mr-2"
        data-toggle="dropdown"
        translate
      >
        Required Action
      </button>
      <span class="dropdown-menu">
        <a
          class="dropdown-item"
          *ngIf="tskTyp != 'c800fb16-f961-e111-95d6-00e04c05559b'"
          (click)="SubmitDocArchive('00000000-0000-0000-0000-000000000000')"
          >Submit/ላከው</a
        >
        <span *ngIf="tskTyp == 'c800fb16-f961-e111-95d6-00e04c05559b'">
          <span *ngFor="let DropDownLists of DropDownList">
            <a
              class="dropdown-item"
              (click)="SubmitAR(DropDownLists.task_rules_code)"
              >{{ DropDownLists.decision_rule_en }}</a
            >
            <li class="divider dropdown-divider"></li>
          </span>
        </span>
      </span>
    </span>

    <button type="button" class="btn btn-primary mr-2" (click)="Close()" translate>
      Pend & close
    </button>
  </div>
</div>

<!-- Below code for modal template -->
<ng-template #template>
  <div class="modal-header">
    <h4 class="modal-title pull-left" translate>Review</h4>
    <button
      type="button"
      class="close pull-right"
      aria-label="Close"
      (click)="modalRef.hide()"
    >
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div>
      <div>

        <select
          *ngIf="ifAppNo"
          class="form-control"
          [(ngModel)]="AppN"
          (change)="getAppData(AppN)"
          name="CustomerType"
          id="ApplicationLIst"
        >
          <option disabled>select</option>
          <option
            *ngFor="let AppNo of AppNoList"
            [value]="AppNo.Application_No"
          >
            {{ AppNo.Application_No }}
          </option>
        </select>
        <select
          *ngIf="ifTask"
          class="form-control"
          [(ngModel)]="TaskN"
          (change)="getTaskData(TaskN)"
          name="CustomerType"
          id="TaskList"
        >
          <option disabled>select</option>
          <option
            *ngFor="let Task of PreAppData"
            [value]="Task.tasks_task_code"
          >
            {{ Task.description_en }}
          </option>
        </select>
        
        <p-table *ngIf="TaskN" [value]="PreTaskData" [paginator]="true" [rows]="5">
          <ng-template pTemplate="header">
            <tr>
              <th scope="col" translate>Status</th>
              <th scope="col" translate>Start Date</th>
              <th scope="col" translate>End Date</th>
              <th scope="col" translate>Level</th>
              <th scope="col" translate></th>
            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-task>
            <tr>
              <td>{{task.status}}</td>
              <td>{{task.start_date}}</td>
              <td>{{task.end_date}}</td>
              <td>{{task.level}}</td>
              <td>
                <button type="button" class="btn btn-primary" (click)="SelectTask(task)" translate>Select</button>
              </td>
            </tr>
          </ng-template>
        </p-table>

      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button
      type="button"
      class="btn btn-primary"
      (click)="closeModal()"
      translate
    >
      Done
    </button>
  </div>
</ng-template>

<!-- End of modal template -->
