<div *ngIf="taskList">
  <div class="m-10" *ngIf="taskList.length>0">You have {{taskList.length}} number of active tasks waiting</div>

  <div>

    <p-table [value]="taskList" [paginator]="true" [rows]="3">
      <ng-template pTemplate="header">
        <tr>
          <th scope="col" translate>Application</th>
          <th scope="col" translate>Date</th>
          <th scope="col" translate>Task Description</th>
          <th scope="col" translate>Task Status</th>
          <th scope="col" translate>Type</th>
          <th scope="col" translate>Module</th>
          <th></th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-task>
        <tr
        [ngStyle]="{'background-color': task.status == 'O' ||task.status == 'A' ||task.status == 'R' ||task.status == 'AS' ? 'green' : null}"
        [ngStyle]="{'background-color': task.status == 'S' ||task.status == 'P' ||task.status == 'B' ? 'yellow' : null}"
        [ngStyle]="{'background-color': task.Minutes_late >0 ? 'red' : null}">
          <td *ngIf="task.status=='O' || task.status=='A' ">**********</td>
          <td *ngIf="task.status!=='O' && task.status!=='A' ">{{task.todo_comment}}</td>
          <td>----</td>
          <td>{{task.description}}</td>
          <td>{{task.status}}</td>
          <td>{{task.TaskType}}</td>
          <td>{{task.Module}}</td>
          <td>
            <button class="btn btn-primary" (click)="go(task)" translate>Pick</button>
          </td>
        </tr>
      </ng-template>
    </p-table>
  </div>
</div>
